
.modal_confirmar{
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    left: 0;
}
.contenMConfirmar{
    background-color: #fff;
    width: 40%;
    height: 30%;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    border-radius: 10px;
    position: fixed;
}
.contenMConfirmar .btnCerrar{
    width: 25px;
    height: 25px;
    display: flex;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    background-color: #CF514F;
    color: #fff;
    font-weight: bold;
}
.contenMConfirmar .atenecion{
    text-align: left;
    padding: 5px 20px;
    font-weight: bold;
    margin-top: 10px;
}
.contenMConfirmar h3{
    font-weight: normal;
}
.contenMConfirmar button{
    height: 30px;
    width: 30%;
    background: #59BA5B;
    color: #ffffff;
    border: none;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}

.contenMConfirmar .btn_eliminar{
    background: #D9534F;
}
/* //codigo para el logeo si desea comprar */
#login-form{
    width: 400px;
    padding: 15px 20px;
}
#login-form>img{
    width: 50%;
}
#login-form h1{
    font-family: 'roboto';
    color: #166FE5;    
    font-weight: bold;
    display: block;
}
#login-form input{
   width: 90%;
   outline:none;
   border: solid #ccc 1px;
   font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 30px;
    border-radius: 6px;
}
#login-form input:focus{
    border: solid 1.5px #166FE5;
}
#login-form .btnaccederM{
 width: 60%;
 background-color: #166FE5;
 color: #fff;
 cursor: pointer;
 margin-top: 20px;
 font-weight: bold;
}
#login-form .btnaccederM:hover{
    transform: scale(1.05);
}
#login-form .btnaccederM:active{
    transform: scale(1);
}
#login-form a{
    text-decoration: none;
}
.respLogin2{
    margin-top: -30px;
}
/*codigo para modal donde selecciona su dirrecion para ver el costo*/
#localizar-form{
    padding: 0px 0px;
}
#localizar-form h3{
    text-align: left;
    width: 100%;
    margin: 0px 0px;
    background: #000000;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
}
#localizar-form .conten-busca-direccion{
    width: 100%;
    display: flex;
}
#localizar-form .conten-busca-direccion .cbdcombobox{
    width: 50%;
    padding: 15px 0px;
    border-right: solid 1px #ccc;
    
}
#localizar-form .conten-busca-direccion .cbdcombobox p{
    font-size: 14px;
}
#localizar-form .conten-busca-direccion .cbdcombobox select{
   width: 90%;
   height: 30px;
   margin: 5px 0px;
}

/*codigo para la ficha tecnica*/
#form-fichaTecnica{
    max-width: none;
    width: 400px;
    margin-top: 40px;
    padding: 15px 20px;
}
#form-fichaTecnica .btnGuardarFTP{    
    width: 60%;
    margin: 10px 0px;
    background-color: #166FE5;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
}
#form-fichaTecnica .btnGuardarFTP:hover{
 transform: scale(1.1);
}
#form-fichaTecnica fieldset{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border:none;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding-bottom: 20px;
}
#form-fichaTecnica fieldset legend{
    text-align: left;  

}
#form-fichaTecnica fieldset input{
    width: 90%;
    height: 25px;
    margin-top: 20px;
    border: none;
    outline: none;
    color: #000;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}
#form-fichaTecnica fieldset input:focus{
    border-bottom: 1px solid rgb(12, 150, 19);
}
#form-DescripcionProducto{
    text-align: center;
    max-width: none;
    width: 60%;
    padding: 5px 0px;
}
#form-DescripcionProducto .conten-descripProducto{
    display: block;  
}
#form-DescripcionProducto
 .conten-descripProducto textarea{
    width: 90%; 
    border-radius: 10px;
    border: solid 1px #ccc;  
    outline:none;
    resize: none;
}
#form-DescripcionProducto
 .conten-descripProducto textarea:focus{
   padding: 10px;
   box-sizing: border-box;
    border: solid 1px rgb(7, 177, 16);  
}
#form-DescripcionProducto
 .conten-descripProducto >a> input{
    background: rgb(62, 59, 224); 
    width: 40%;
    color: #fff;
    outline: none;
    font-size: 18px;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto{
    display: flex;   
    justify-content: center;
    align-items: center;
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto 
    .imgDescripPro{
        margin: 10px;    
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto
    .imgDescripPro img{
        width: 200px;
        height: 200px; 
        margin: 10px 0px; 
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto
    .imgDescripPro .btnSubeImgDescrip{
        width: 100%;
        height: 50px;
        background-color: rgb(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(230, 221, 221);
        margin-top: -60px;
        position: relative;
        z-index: 10;
        cursor: pointer;
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto
    .imgDescripPro .btnSubeImgDescrip:hover span{
        transform: scale(1.4);
        color: #fff;
}
#form-DescripcionProducto
    .conten-descripProducto 
    .contenImgDescripProducto
    .imgDescripPro .btnSubeImgDescrip:active span{
        transform: scale(1);
}
@media screen and (max-width: 700px){
    .contenMConfirmar button{
    font-size:12px;
    }
    #login-form{
        width: 90%;
    }
}