:root {
  --width: 250px;
  --padding: 10px;
  --bgcolor: rgb(0, 0, 0,0.5);
  --hovercolor: rgb(23, 23, 23);
  --width-collapsed: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.conten_body2index{
  width: 100%;
  display: flex;
 height: 100%; 
 background-color: rgb(255, 0, 0);
 z-index: 20;
}
#salidaSMS{
  margin-top: -10px;
  width: auto;
  border-radius: 5px;
}
.error{
  display: block;  
  color: #792020; 
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  display: none;
  text-align: center;
  background: rgba(156, 23, 23, 0.1);
}
.exito{
  display: block;
  color: #207920;
  width: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  display: none;
  text-align: center;
  background: rgb(23, 156, 23,0.1);
}
.body-expanded {
 /*  margin-left: var(--width); */
}
.body-expanded .header-main {/* 
  left: var(--width); */
 /*  width: calc(100% - var(--width)); */
 width: 100%;
  height: 60px;
}
.headerGeneral{
  margin: 0px;
  width: 100%;
  top: 0;
  height: auto;
  position: fixed;
  left: 0;
  z-index: 100;
}
.logoEmpresa{
  cursor: pointer;
}
.logoEBaners{
  width: 100%;
  margin-top: 60px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  background: #fff;
  display: flex;
}
.logoEBaners>img{
width: 100px;
height: 60px;
}
.logoEBaners .banerCabecera{
  width: 100%;
  display: flex;
  justify-content: center;
  height: inherit;
}
.logoEBaners .banerCabecera> img{
  width: 100%;
  height: 50px;
  
}
#carouselExampleSlidesOnly{
  top: 0px;
  z-index: -100;
}
#carouselExampleSlidesOnly> img{
 width: 100%;
 display: flex;
 height: 10%;
}
.header-main .contenHMain .datos_usuario .btnlogin {
  position: absolute;
  right: var(--padding);
  background-color:rgb(123, 144, 165);
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
}

.area_trabajo {
  width: 100%;
  padding-top: 10px;
  padding-right: 5px;
}
.cargarDatos{
  padding-left: 50px;
  width: 100%;
  text-align: center;
  padding-bottom: 3%;
  box-sizing: border-box;
}
.sidemenu {
/*   background: var(--bgcolor); *//* 
  background: #252525; */
  background-color: #fff;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  border: solid 1px #ccc;
  position: fixed;
  height: 100%;
  left: 0;
  top: 120px;
  z-index: 200;
}
.sidemenuAdmin{
  top: 60px;
  background: #252525;
  border: none;
  color: #fff;
}

.sidemenu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.sidemenuAdmin a{
  color: #fff;
}


/* header*/
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title {
  box-sizing: border-box;
  width: calc(var(--width) - calc(var(--width-collapsed) + 10px));
  overflow: hidden;
}
#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}
#sidemenu #header #menu-btn {
  display: inline-block;
}
#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: calc(var(--width-collapsed) + 10px);
  /* width: var(--width-collapsed); */
  box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover {
  background-color: var(--hovercolor);
}
.sidemenu #header #menu-btn .btn-hamburger {
  background-color: rgb(54, 53, 53);
  width: 80%;
  height: 2px;
  margin: 5px auto;
}
.sidemenuAdmin #header #menu-btn .btn-hamburger{
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 2px;
  margin: 5px auto;
}
/* profile*/
#sidemenu #profile {
  padding: var(--padding) 0;
  text-align: center;
}
.menu-collapsed #profile #photo {
  box-sizing: border-box;
}
.menu-collapsed #profile #photo img {
  border-radius: 50%;
  width: var(--width-collapsed);
  height: var(--width-collapsed);
  border: solid 2px #dfeb9c;
}
/*ITEM */
#sidemenu{
  margin-bottom: 80px;
}
.menu-collapsed .menu-items {
  margin-bottom: 80px;
  height: 70%;
  overflow: auto;
}
#sidemenu .menu-itemsUsu{
  height: 60%;
  overflow: auto;
}
#sidemenu #menu-items::-webkit-scrollbar {
  display: none;
}
#sidemenu #menu-itemsUsu::-webkit-scrollbar {
  display: none;
}
#sidemenu .menu-items .item {
  width: var(--width);
  color: #fff;
  border-bottom: solid 1px rgb(196, 195, 195);
}
#sidemenu .menu-items .item .icon {
  display: block;  
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
.sidemenu .menu-items .item .icon,
.sidemenu .menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}
#sidemenu .menu-items .item a {
  width: 100%;  
  display: flex;
  align-items: center;
}

.sidemenu .menu-items .item .icon {
  background-color: rgb(223, 219, 219);
  height: 45px;
  box-sizing: border-box;
  display: flex;
  border-radius: 50px;
  padding: calc(var(--padding) - 2px);
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: calc(var(--width-collapsed) - 3px);
}
.sidemenuAdmin .menu-items .item .icon{
  background-color: rgb(92, 91, 91);
}
#sidemenu .menu-items .item a:hover .icon{
  background-color: rgb(179, 175, 175);
}
.menu-collapsed .menu-items .item>a>.title{
display: none;
}

#sidemenu .menu-items .item .icon span {
  width: 100%;
  color: rgb(43, 43, 42);
  font-size: 1.6rem;
  font-weight: bold;
  font-weight: normal;
  text-align: center;
}
#sidemenu #menu-items .item .icon img {
  width: 100%;
  color: yellow;
  font-size: 2rem;
  font-weight: bold;
  font-weight: normal;
  text-align: center;
}

.sidemenu #menu-items .item .title {
  padding: var(--padding) 0;
  display: none;
}
#sidemenu #menu-items .item.separator {
  height: 1px;
  border-bottom: solid 1px var(--hovercolor);
  margin: 15px 0;
}

.menu-espanded #header #title {
  display: inline-block;
  margin-right: -5px;
  padding: var(--padding);
}
.menu-espanded #header #title span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
  display: inline-block;
}

.menu-espanded #profile #name {
  width: 100%;
  font-size: 22px;
  text-align: center;
  margin-bottom: -20px;
}

.menu-espanded #menu-items .item .title {
  padding: var(--padding) 0;
  display: inline;
}
.menu-collapsed {
  width: calc(var(--width-collapsed) + 10px);
  transition: width 1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-espanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sidemenu #profile{
 border-bottom: 1px solid #ccc;
}
.menu-espanded #menu-items{
  height: calc(100% - 52%);
  overflow: scroll;
}
.menu-espanded #menu-itemsUsu{
  height: calc(100% - 65%);
  overflow: scroll;
}
.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-espanded #profile #photo {
  width: 100%;
}
.menu-espanded #profile #photo img {
  border-radius: 50%;
  text-align: center;
  width: 130px;
  overflow: hidden;
  height: 130px;
  cursor: default;
  border: dashed 2px #dfeb9c;
}

.menu-collapsed #profile #name {
  display: none;
}
.menu-espanded #profile #name {
  font-size: 16px;
  margin-bottom: 10px;
}
.menu-collapsed .item {
  width: 100%;
}

/* estilos submuenu imagen uusuario*/

.celusubmenuUsuario{
  background: #F6F7F8;
  position: fixed;
  list-style: none;
  width: 200px;

  color: #000;
  overflow: hidden;
  text-align: center;
  top:43px;
  right: 0px;
  padding: 0px;
  border-radius: 0px 0px 5px 10px;
  border:  solid #ccc 1px;
  box-shadow: 2px 2px 12px -2px #000;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}
.celusubmenu {
  background: #F6F7F8;
  position: fixed;
  list-style: none;
  width: 15%;
  color: #000;
  overflow: hidden;
  text-align: center;
  top: 42px;
  right: 0px;
  padding: 0px;
  border-radius: 0px 0px 5px 10px;
  border:  solid #ccc 1px;
  box-shadow: 2px 2px 12px -2px #000;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
}
.celusubmenu li,.celusubmenuUsuario li {
  border-bottom: solid 1px #ccc;
  padding: 0px 10px;
  transition: transform 0.4s;
}
.celusubmenu li:hover,.celusubmenuUsuario li:hover {
  transform: scale(1.01);
  background-color: #D9DFE6;
}
.celusubmenu li a,.celusubmenuUsuario li a {
  width: 100%;
  display: block;
  line-height: 3.3;
  cursor: pointer;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.celmenuchico {
  clip-path: circle(150% at top right);
}

/*busquedas de ajax

buscar producto*/
.msgResulDatos {
  background-color: rgb(138, 67, 10);
  padding: 5px 0;
  margin-top: -30px;
  color: #fff;
  margin-left: -10px;
  text-align: center;
}
a{
  text-decoration: none;
  color: #000;
}
.contenProductos{
  width: 200px;
  padding: 10px 5px;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 4px;
  text-align: center;
  margin-right: 0px;
  z-index: 10;
  border-radius: 5px;
  box-sizing: border-box;
}
.contenProductos:hover{
  box-shadow: 1px 1px 10px 1px rgb(119, 113, 113);
}
.contenProductos .contenImgProBusq{
  width: 100%;
  height: 230px;
  display: inline-block;
}
.imgPro_buscados{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 3px;
}
.imgPro_buscados .imagenMosProductos {
  width: 85%;
  height: 85%;
  border-radius: 5px;
  transition: all  0.4s;
}

.contenProductos:hover .imgPro_buscados .imagenMosProductos {
  cursor: pointer;
  width: 91%;
  height: 91%;
  
}
.contenDatos {
  width: 100%;
}
.contenDatosProducto {
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.contenDatosProducto .nombre_pro {
  font-family: "OpenSans-Regular",sans-serif;
  font-size: 14px;
}
.contenDatos .marca_pro {
  font-size: 16px;
  font-weight: bold;
}
.contenDatos .precio_pro {
  font-size: 18px;
  color: #ca0101;
  font-family:Times, serif;
  letter-spacing: 2px;
  height: 40%;
  align-items: center;
  font-weight: bold;
}


/* estilos para el chat */
.messagechat {
  width: 60px;
  height: 60px;
  position: fixed;
  background-color: #163182;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 200;
}
.messagechat img {
  width: 60%;
  height: 60%;
}
.messagechat:hover {
  transform: scale(1.1);
}
.messagechat:active {
  transform: scale(0.99);
}
.conten_chat{  
  background-color: #fff;
  box-shadow: -1px 1px 15px 1px #000;
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 110px;
  z-index: 900;
  right: 4%;
  border-radius: 5px;
  display: none;
 /*  clip-path: circle(0px at bottom right);
    transition: clip-path ease-in-out 700ms; */
}
.chat-espanded{
  display: block;
    /* clip-path:circle(150% at top right); */
}

.contenCH_header {
  width: 100%;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: var(--bgcolor);
  border-radius: 5px 5px 0px 0px;
}
.contenCH_header h3 {
  color: var(--bgcolor);
  text-align: center;
  color: #fff;
  padding: 5px 0;
  margin: 0;
}
.contenCH_body {
  height: 82%;
  margin-top: 0px;
  display: block;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.contenCH_footer {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: var(--bgcolor);
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
}
.contenCH_footer input{
  width: 80%;
  height: 25px;
  border: none;
  border-radius: 7px;
  padding: 2px 5px;
  outline: 0px;
}
.contenCH_footer .CHFoterImg {
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}
.contenCH_footer .CHFoterImg:hover{
    background-color: #ccc;
}
.contenCH_footer .CHFoterImg:active{
    transform: scale(0.9);
}
.contenCH_footer .CHFoterImg span {
  font-size: 16px;
  margin-left: 20%;
  text-align: center;
  color: #000;
}
.conten_oneChat{
  width: 60%;
  margin-top: 5px;
  padding: 3px 5px;
  background-color: #187432;
  border-radius: 10px;
  margin-right: 20px;
  text-align: justify;
  color: rgb(248, 246, 246);
 
}
.conten_oneChatSms{
  background-color: #2a3f54;
  width:100%;
   /*  width: 160px;
    margin-top: 5px;
    text-size-adjust: inherit;
    padding: 3px 5px;
    background-color: #187432;
    border-radius: 10px;
    margin-right: 20px;
    text-align: left;
    color: rgb(247, 245, 245); */
}
.conten_oneChat::after{
  content: "";
  position: absolute ;
  opacity: 0.9999;
  right:15px;
  width: 15px;
  border-radius: 0px 50% 50% 0px;
  height: 5px;
  background-color: #187432;
  transform: rotate(20deg) translateY(-5px);
}


.btn{
  background: #0271D1;
  padding: 10px 35px;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
  background: #5189bb;
}




.table{
  border: solid 1px #ccc;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
.table tr>th{
  background-color: #ccc;
  padding: 10px;
}